[submodule "riscv_greenthumb"]
	path = riscv_greenthumb
	url = https://github.com/Allenjin123/riscv_greenthumb.git
	branch = master

[submodule "PdatScorrWrapper"]
	path = PdatScorrWrapper
	url = https://github.com/CrucibleComputingGroup/PdatScorrWrapper.git
	branch = main

# [submodule "PdatScorrWrapper/CoreSim"]
# 	path = PdatScorrWrapper/CoreSim
#     url = https://github.com/CrucibleComputingGroup/PdatCoreSim.git
# 	branch = main

# [submodule "PdatScorrWrapper/PdatDsl"]
# 	path = PdatScorrWrapper/PdatDsl
#     url = https://github.com/CrucibleComputingGroup/PdatRiscvDsl.git
# 	branch = aesip

# [submodule "PdatScorrWrapper/ScorrPdat"]
# 	path = PdatScorrWrapper/ScorrPdat
#     url = https://github.com/CrucibleComputingGroup/PdatScorr.git
# 	branch = feat/aesip

[submodule "egglog"]
	path = egglog
	url = https://github.com/Allenjin123/egglog.git
	branch = feat/print-eclass
[submodule "embench-iot"]
	path = embench-iot
	url = https://github.com/fangzhonglyu/embench-rv32-fix.git
	branch = main